serise object is one dimensional labeled array

In [1]:
import pandas as pd

        List

In [21]:
s1=pd.Series([5,4,3,2])
print(s1)

0    5
1    4
2    3
3    2
dtype: int64

In [23]:
s1=pd.Series([5,4,3,2], index=["a","b","c", "d"])
print(s1)

a    5
b    4
c    3
d    2
dtype: int64

In [11]:
s1=pd.Series(["a","b","c", "d")
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [25]:
x=s1=pd.Series(["a","b","c", "d"], index=[4,3,2,1])
print(s1)

4    a
3    b
2    c
1    d
dtype: object

In [16]:
s1=pd.Series(["a","b","c", "d"], index=["e","f","g", "h"])
print(s1)

e    a
f    b
g    c
h    d
dtype: object

                Dictionary

In [34]:
s2=pd.Series({"a":1,"b": 2,"c": 3}) #a,b,c,d= keys & 1,2,3,4= velues
print(s2)

a    1
b    2
c    3
dtype: int64

In [31]:
s2=pd.Series({"k1":11,"k2": 22,"k4": 33}) #k1,k2,k4,= keys & 11,22,33= velues
print(s2)

k1    11
k2    22
k4    33
dtype: int64

In [43]:
s2=pd.Series({"k1":11,"k2": 22,"k4": 33}, index={"k4","k1","k2","k3",}) #k1,k2,k4,= keys & 11,22,33= velues
print(s2)

k3     NaN
k4    33.0
k1    11.0
k2    22.0
dtype: float64

        extracting individual velues

In [55]:
s1=pd.Series([5,4,3,2,9,7,6,8])
print(s1[2])

3
0    5
1    4
2    3
3    2
4    9
5    7
6    6
7    8
dtype: int64

In [56]:
print(s1[:5])

0    5
1    4
2    3
3    2
4    9
dtype: int64

In [58]:
print(s1[2:-1])

2    3
3    2
4    9
5    7
6    6
dtype: int64

In [60]:
print(s1[-3:])

5    7
6    6
7    8
dtype: int64

    basic math operation on series

In [63]:
s1=pd.Series([5,4,3,2,9,7,6,8])
s1=s1*2
print(s1)

0    10
1     8
2     6
3     4
4    18
5    14
6    12
7    16
dtype: int64

In [ ]:
s1=pd.Series([5,4,3,2,9,7,6,8])
s1=s1+2
print(s1)

In [65]:
s1=pd.Series([5,4,3,2,9,7,6,8])
s1=s1-2
print(s1)

0    3
1    2
2    1
3    0
4    7
5    5
6    4
7    6
dtype: int64

In [66]:
s1=pd.Series([5,4,3,2,9,7,6,8])
s1=s1/2
print(s1)

0    2.5
1    2.0
2    1.5
3    1.0
4    4.5
5    3.5
6    3.0
7    4.0
dtype: float64

In [68]:
s1=pd.Series([5,4,3,2,9,7,6,8])
s1=s1**2
print(s1)

0    25
1    16
2     9
3     4
4    81
5    49
6    36
7    64
dtype: int64

In [69]:
s1=pd.Series([5,4,3,2,9,7,6,8])
s1=s1%2
print(s1)

0    1
1    0
2    1
3    0
4    1
5    1
6    0
7    0
dtype: int64

In [84]:
a1=pd.Series([5,6,7,8])
a2=pd.Series([1,2,3,4])

In [90]:
sum=a1+a2
sub=a1-a2
mult=a1*a2
devi=a1/a2

In [91]:
sum

0     6
1     8
2    10
3    12
dtype: int64

In [92]:

sub

0    4
1    4
2    4
3    4
dtype: int64

In [93]:
mult

0     5
1    12
2    21
3    32
dtype: int64

In [94]:
devi

0    5.000000
1    3.000000
2    2.333333
3    2.000000
dtype: float64